In [1]:
import mysql.connector as connection

In [3]:
#show existing dbs
try:
    conn = connection.connect(host = 'localhost', user = 'root', passwd = 'mysql', use_pure = True)
    cursor = conn.cursor()
    cursor.execute('show databases')
    print(cursor.fetchall())
    
except Exception as e:
    conn.close()
    print(str(e))

In [7]:
#to create a new db
try:
    conn = connection.connect(host = 'localhost', user = 'root', passwd = 'mysql', use_pure = True)
    cursor = conn.cursor()
    cursor.execute('create database aashish123')
    print('db created!!')
    
except Exception as e:
    conn.close()
    print(str(e))

db created!!

In [11]:
#to create a new table
try:
    conn = connection.connect(host="localhost", database = 'aashish123',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(conn.is_connected())

    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"

    cursor = conn.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    conn.close()
except Exception as e:
    conn.close()
    print(str(e))

True
Table Created!!

In [18]:
#to create a new table
try:
    conn = connection.connect(host="localhost", database = 'aashish123',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(conn.is_connected())

#     query = "INSERT INTO StudentDetails VALUES ('1132','Sachin','Kumar','1997-11-11','Eleventh','A')"
    cursor = conn.cursor() #create a cursor to execute queries
#     cursor.execute(query)
    cursor.execute("INSERT INTO StudentDetails VALUES ('1133','Aashish','Kumar','1997-11-9','Tenth','B')")
    cursor.execute("INSERT INTO StudentDetails VALUES ('1134','Aman','Kumar','1997-10-2','Nintth','C')")
    print("Value inserted!!")
    conn.commit() #without using this .commit() value will not be inserted into the table
    conn.close()
except Exception as e:
    conn.close()
    print(str(e))

True
Value inserted!!

In [20]:
#to fetch records from table
try:
    conn = connection.connect(host="localhost", database = 'aashish123',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(conn.is_connected())

    query = "select * from studentdetails"

    cursor = conn.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    conn.close()
except Exception as e:
    conn.close()
    print(str(e))

True
(1132, 'Sachin', 'Kumar', datetime.date(1997, 11, 11), 'Eleventh', 'A')
(1133, 'Aashish', 'Kumar', datetime.date(1997, 11, 9), 'Tenth', 'B')
(1134, 'Aman', 'Kumar', datetime.date(1997, 10, 2), 'Nintth', 'C')

In [24]:
#to show data present in table in pandas dataframe format
import pandas as pd
try:
    conn = connection.connect(host="localhost", database = 'aashish123',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(conn.is_connected())

    query = "select * from studentdetails"

    cursor = conn.cursor() #create a cursor to execute queries
    sql_df = pd.read_sql(query,conn)
    conn.close()
except Exception as e:
    conn.close()
    print(str(e))

True

In [25]:
sql_df

   Studentid FirstName LastName RegistrationDate     Class Section
0       1132    Sachin    Kumar       1997-11-11  Eleventh       A
1       1133   Aashish    Kumar       1997-11-09     Tenth       B
2       1134      Aman    Kumar       1997-10-02    Nintth       C