In [7]:
import pymongo
client_local = pymongo.MongoClient("mongodb://localhost:27017")
client_local

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
client_cloud = pymongo.MongoClient("mongodb+srv://<username>:<password>@nodeexpressprojects.ujirb.mongodb.net/?retryWrites=true&w=majority")
db = client_cloud.test

In [9]:
#to create a database
db_1 = client_local['aashishDB']
db_1

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'aashishDB')

In [10]:
#to se existing DBs

client_local.list_database_names()

['admin', 'config', 'local']

In [11]:
client_cloud.list_database_names()

['03-Task_manager',
 '04-STORE-API',
 '06-JOBS-API',
 '07-FILE-UPLOAD',
 'PRACT-APP',
 'PRACT-APP2',
 'Store-Dummy',
 'admin',
 'local']

In [16]:
#to insert record into database

#first create the collection
collection = db_1['test']

record = {'name':'Aashish', 
            'role':'ML Engineer',
            'company':'Apple'}
                
#now insert record in created collection
collection.insert_one(record)

In [19]:
#insert many records at once
record = [
    {'name':'Radhey', 
            'role':'Java Developer',
            'company':'Oracle'},
    {'name':'Aman', 
            'role':'Full Stack Developer',
            'company':'Amazon'},
    {'name':'Akash', 
            'role':'Front-End Developer',
            'company':'Google'},
    {'name':'Sudhir', 
      'id' : 2},
    {'name':'Ritesh', 
      'id' : 3},
    {'name':'Amit', 
      'id' : 6},
    {'name':'Ankit', 
      'id' : 10},
    
]
collection.insert_many(record)

In [18]:
#query or filter out data
fltr = collection.find({'role' : 'Full Stack Developer'}) 
for i in fltr:
    print(i)

{'_id': ObjectId('63d67c691e8c1f241b9b6653'), 'name': 'Aman', 'role': 'Full Stack Developer', 'company': 'Amazon'}

In [20]:
fltr2 = collection.find({'id' : {'$gt' : 4}}) #id greater than 4
for i in fltr2:
    print(i)

{'_id': ObjectId('63d67efd1e8c1f241b9b665a'), 'name': 'Amit', 'id': 6}
{'_id': ObjectId('63d67efd1e8c1f241b9b665b'), 'name': 'Ankit', 'id': 10}

In [22]:
#to delete records 
to_delete = {'id' : {'$lte':3}}
collection.delete_many(to_delete)

In [ ]:
#to drop a collection
collection.drop()

In [24]:
# to update an existing record
existing_data = {'company' : 'Apple'}
new_data = {'$set' : {'role' : 'Data Scientist'}}

collection.update_one(existing_data,new_data)